h2 {
    color: #2E7D32;
}

.basic-grey {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    background: none;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;

    > * {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

     h1 {
        font-size: 25px;
        padding: 0px 0px 10px 40px;
        display: block;
        border-bottom:1px solid #E4E4E4;
        margin: -10px -15px 30px -10px;;
        color: #888;

        span {
            display: block;
            font-size: 11px;
        }
    }
    label {
        display: block;
        margin: 0px;

        span {
            float: left;
            width: 20%;
            text-align: right;
            padding-right: 10px;
            margin-top: 10px;
            color: #888;
        }
    }
     input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
        border: 1px solid #DADADA;
        border-radius: 5px; 
        // color: #888;
        height: 30px;
        outline: 0 none;
        padding: 0 5px;
        line-height: 30px;
        width: 100%;
        font-size: 12px;
        line-height:15px;
        box-shadow: inset 0px 1px 4px #ECECEC;
        -moz-box-shadow: inset 0px 1px 4px #ECECEC;
        -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
    }
    textarea{
        padding: 5px 3px 3px 5px;
    }
    select {
        // // background: #FFF url('down-arrow.png') no-repeat right;
        // // appearance:none;
        // -webkit-appearance:none; 
        // -moz-appearance: none;
        border-radius: 5px; 
        text-indent: 0.01px;
        text-overflow: '';
        width: 100%;
        height: 35px;
        line-height: 25px;
    }
    textarea{
        height:100px;
    }
    .button, .button:active, .button:focus, .button:hover {
        background: none;
        border: 2px solid #A5D6A7;
        padding: 10px 25px 10px 25px;
        color: #A5D6A7;
        color: #66BB6A;
        // box-shadow: 1px 1px 5px #B6B6B6;
        border-radius: 3px;
        // text-shadow: 1px 1px 1px rgba(50,50,50, .8);
        text-transform: uppercase; 
        cursor: pointer;
        width: 100%;
        outline: 0; 
        -webkit-outline: 0;
    }
    // .button:hover {
    //     background: darken(#1976D2, 10%);
    // }

    .btn-success {
        -webkit-animation: green 0.5s;
        -moz-animation: green 0.5s;
        animation: green 0.5s;
    }

    .btn-error {
        -webkit-animation: red 0.5s;
        -moz-animation: red 0.5s;
        animation: red 0.5s;
    }
}

.plant {

    #yourElement {
      -vendor-animation-duration: .2s; 
   }

    .plant-image {
        display: block; 
        text-align:center;
        margin: auto;
        width: 30vmin; 
        height: 30vmin;
    }

    .name {
        text-align: center; 
    }
}


@-webkit-keyframes green {
    from {background: none}
    to {background: #66BB6A; color: #fff;}
}

@-moz-keyframes green {
    from {background: none}
    to {background: #66BB6A; color: #fff}
}

@keyframes green {
    from {background: none}
    to {background: #66BB6A; color: #fff}
}

@-webkit-keyframes red {
    from {background: none}
    to {background: #E57373; color: #fff; border-color: #D32F2F}
}

@-moz-keyframes red {
    from {background: none}
    to {background: #E57373; color: #fff; border-color: #D32F2F}
}

@keyframes red {
     from {background: none}    
    to {background: #E57373; color: #fff; border-color: #D32F2F}
 }

 .temperature {
    display: inline-block;
    .tempmeter {
        position: relative; 
        width: 5vmin; 
        height: 30vmin; 
        border: 2px solid #fff;
        box-shadow: 0px 2px 5px rgba(50,50,50, .2); 
        background: #fff; 
        border-radius: 5vmin;
    

        .value {
            display: block;
            width: 3vmin; 
            position: absolute; 
            bottom: .5vmin;
            left: .5vmin;  
            height: 20%; 
            border: 2px solid #EF5350; 
            border-radius: 5vmin;
            background: #EF5350;
        }
    }   
 }

 .plant-status {
    position: relative;
    overflow: hidden;
    display:block; 
    margin:auto; 
    width: 50vmin; 
    height: 50vmin; 
    border-radius: 100%; 
    background: #fff;
    // border: 10px solid #A5D6A7;

    .plant-face {
        position:absolute; 
        top: 12.5vmin;
        left: 12.5vmin;
        display: block; 
        text-align:center;
        width: 25vmin; 
        height: 25vmin;
        z-index: 100; 
    }


    .wave-front {
        opacity: 0.6;
        position: absolute; 
        bottom: -10vmin; 
        left:0; 
        width: 50vmin; 
        height: 100%; 
        background: url(/img/wave.svg) repeat-x bottom left;
        background-size: 50px auto;
        -webkit-animation: scroll 25s linear infinite, upDown 2.5s ease-in-out infinite;
        animation: scroll 25s linear infinite, upDown 2.5s ease-in-out infinite;
        z-index: 50; 
    }

    .wave-back {
        opacity: 0.5; 
        position: absolute; 
        bottom: -10vmin; 
        left:0; 
        width: 50vmin; 
        height: 100%; 
        background: url(/img/wave.svg) repeat-x bottom left;
        background-size: 50px auto;
        -webkit-animation: scroll 30s linear infinite, upDown2 2.5s ease-in-out infinite;
        animation: scroll 30s linear infinite, upDown2 2.5s ease-in-out infinite;
        z-index: 1;
    }


 }

.plant-icons {
    display: inline-block; 
    margin-left: 14vmin;

    .icon {
        background: #fff; 
        border: 1px solid #fff; 
        border-radius: 10vmin;
        // width: 20vmin; 
        // height: 20vmin; 
        margin: 2vmin; 
        float:left;
        display:inline; 
        box-shadow: 0px 1px 3px rgba(50,50,50, .1);

        i {
            padding:0; 
            margin: 0;
            width: 20vmin; 
            height: 20vmin;
            line-height: 20vmin; 
            text-align:center; 
            color: #aaa;
            font-size: 8vmin;
        }

        .red {
            color: #EF9A9A !important;
        }

        .orange {
            color: #FFB74D !important;
        }

        .green {
            color: #66BB6A !important;
        }
    }
   

}

@-webkit-keyframes upDown {
  0%   { bottom: -0.5vmin; }
  50%  { bottom: -1vmin;}
  100% { bottom: -0.5vmin; }
}
@-moz-keyframes upDown {
  0%   { bottom: -0.5vmin; }
  50%  { bottom: -1vmin;}
  100% { bottom: -0.5vmin; }
}
@-o-keyframes upDown {
  0%   { bottom: -0.5vmin; }
  50%  { bottom: -1vmin;}
  100% { bottom: -0.5vmin; }
}
@keyframes upDown {
  0%   { bottom: -0.5vmin; }
  50%  { bottom: -1vmin;}
  100% { bottom: -0.5vmin; }
}

@-webkit-keyframes scroll {
  0%   { background-position: 0 0; }
  100% { background-position: 200% 0; }
}
@-moz-keyframes scroll {
  0%   { background-position: 0 0; }
  100% { background-position: 200% 0; }
}
@-o-keyframes scroll {
  0%   { background-position: 0 0; }
  100% { background-position: 200% 0; }
}
@keyframes scroll {
  0%   { background-position: 0 0; }
  100% { background-position: 200% 0; }
}

@-webkit-keyframes upDown2 {
  0%   { bottom: -1vmin; }
  50%  { bottom: -1.5vmin;}
  100% { bottom: -1vmin; }
}
@-moz-keyframes upDown2 {
  0%   { bottom: -1vmin; }
  50%  { bottom: -1.5vmin;}
  100% { bottom: -1vmin; }
}
@-o-keyframes upDown2 {
  0%   { bottom: -1vmin; }
  50%  { bottom: -1.5vmin;}
  100% { bottom: -1vmin; }
}
@keyframes upDown2 {
  0%   { bottom: -1vmin; }
  50%  { bottom: -1.5vmin;}
  100% { bottom: -1vmin; }
}