@import "jeet/jeet";
@mixin vendor($property, $value, $vendors: webkit moz ms o) {
      @if $vendors {
        @each $vendor in $vendors {
          #{"-" + $vendor + "-" + $property}: #{$value};
        }
      }
      #{$property}: #{$value};
}

* {
	box-sizing: border-box;
}

body {
	background: #F1F8E9;
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 1.1;
}

a {
	@include vendor(transition, color 0.3s);
	@include vendor(transition, background-color 0.3s);
	text-decoration: none;
	color: #1B5E20;

	&:hover {
		color: darken(#1B5E20, 10%);
	}
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	padding: 0 0;
	background: #43A047;
	color: #fff;

	h1 {

		a {
			display: block;
			color: #fff;
			margin: 10px 0 10px 15px;
			font-family: 'Raleway', sans-serif;
			font-size: 34px;
			line-height: 40px;
			display: inline-block;
			padding-left: 47px;
			background: transparent url(/img/logo.png) no-repeat left center;
		}
	}

	#btn-mobile-nav {
		width: 60px;
		height: 60px;
		display: block;
		background: transparent url(/img/hamburger.png) no-repeat center center;
		text-indent: -9001px;
		float: right;
		cursor: pointer;
		padding: 0;

		&:after {
			display: none;
		}

		&:hover {
			background-color: darken(#43A047, 10%);
		}
	}
}

#main-nav {
	> .header {
		padding: 15px 15px;

		h2 {
			font-size: 18px;
			margin-bottom: 10px;
			font-weight: bold;
		}
	}

	> ul {
		border-top: 1px solid #eee;

		> li {
			border-bottom: 1px solid #eee;

			> a {
				display: block;
				line-height: 40px;
				padding: 0 15px;
				font-weight: bold;

				&:before {
					content: '+';
					padding-right: 5px;
				}
			}
		}
	}
}

.fs-navigation-overlay-content:before,
#main-nav {
	top: 60px;
}

#main-content {
	padding: 20px 0;

	h2 {
		margin: 0 0 20px;
		text-align: center;
		font-size: 22px;
		font-weight: bold;
	}
}

.hidden {
	display: none;
}