<template name="addPlant">
	<h2>Add a new plant</h2>
	<div class="plant animated">
		<img class="plant-image" src="/img/default_plant.svg" alt=""/>

		<h3 class="name"></h3>
	</div>

	<form class="basic-grey">
		<select class="plant-select">
		{{#each plant}}
			<option value="{{id}}">{{name}}</option>
		{{/each}}
		</select>

		<input type="text" class="plant-name" placeholder="Name" />

		<input type="text" class="engine" placeholder="Sensor ID" />

		<button class="button addPlant" type="submit">Save</button>
	</form>
</template>

<!-- 
					<button class="btn btn-7 btn-7h icon-envelope">Submit form</button>
					<button class="btn btn-7 btn-7h icon-envelope">Submit form</button> -->