<template name="addPlant">
	<h2>Add a new plant</h2>
	<div class="plant animated">
		<img class="plant-image" src="/img/default_plant.svg" alt=""/>

		<h3 class="name"></h3>
	</div>

	<form class="basic-grey">
		<select class="plant-select">
		{{#each plant}}
			<option value="{{id}}">{{name}}</option>
		{{/each}}
		</select>

		<input type="text" class="plant-name" placeholder="Name" />

		<input type="text" class="engine" placeholder="Sensor ID" />

		<button class="button addPlant" type="submit">Save</button>
	</form>

	<div class="plant-stats">
		<div class="lux"></div>
		<div class="temperature">
			<div class="tempmeter">
				<span class="value"></span>
			</div>

		</div>
		<div class="water">
			<div class="plant-status">

				<div class="wave-back"></div>

				<div class="wave-front"></div>

				<img class="plant-face" src="/img/plant1_small_happy.svg" alt="" />

			</div>
		</div>

		<div class="plant-icons">
			<div class="icon sun">
				<i class="fa fa-sun-o red"></i>
			</div>
			<div class="icon water">
				<i class="fa fa-tint orange"></i>
			</div>
			<div class="icon temp">
				<i class="fa fa-tachometer green"></i>
			</div>
		</div>
	</div>

</template>
