<template name="home">

    {{#if currentUser}}
    	<h2>Welcome {{currentUser.username}}!</h2>

		{{#if userHasPlants }}
			<div class="plant-cards">
				<p>Here's how your plants are doing today!</p>
				<ul>
				{{#each myPlants}}
					{{ >plantCard engineId=engineId name=name}}
				{{/each}}
				</ul>
				<div class="add-new">
					<a href={{pathFor route='addPlant'}}>Add a plant</a>
				</div>
			</div>
		{{else}}
			<p>It seems like you don't have any plants yet! Go ahead and add one now.</p>
			<div class="template-in-template">
				{{ >addPlant}}
			</div>
		{{/if}}
	{{else}}
		<h2>Welcome!</h2>
		{{> loginButtons}}
	{{/if}}

</template>

<template name="plantCard">
	<li>
		<a class="plant-row" href="/plant/{{engineId}}">
			<div class="plant-img"><img src="/img/plant1_large_happy.svg" alt="" /></div>
			<div class="plant-details">
				<div class="plant-name">{{name}}</div>
				<div class="plant-buttons">
					<div class="light">{{getLight}}</div>
					<div class="humidity">{{getHumidity}}</div>
					<div class="temp">{{getTemperature}}</div>
				</div>
			</div>
		</a>
	</li>
</template>