<template name="home">

    {{#if currentUser}}
    	<h2>Welcome {{currentUser.username}}!</h2>

		{{#if userHasPlants }}
			<div class="plant-cards">
				<p>Here's how your plants are doing today!</p>
				<ul>
				{{#each myPlants}}
					{{ >plantCard engineId=engineId name=name}}
				{{/each}}
				</ul>
				<div class="add-new">
					<a href={{pathFor route='addPlant'}}>Add a plant</a>
				</div>
			</div>
		{{else}}
			<p>It seems like you don't have any plants yet! Go ahead and add one now.</p>
			<div class="template-in-template">
				{{ >addPlant}}
			</div>
		{{/if}}
	{{else}}
		<h2>Welcome!</h2>
		{{> loginButtons}}
	{{/if}}

</template>

<template name="plantCard">
	<li>
		<a class="plant-row {{engineId}}" href="/plant/{{engineId}}" data-humidity={{getHumidity}} data-lux={{getLight}} data-temperature={{getTemperature}}>
			<div class="plant-img"><img src="{{plantFace}}" alt="" /></div>
			<div class="plant-details">
				<div class="plant-name">{{name}}</div>
				<div class="plant-icons">
					<div class="icon sun"><i class="fa fa-sun-o {{lightStatus}}"></i></div>
					<div class="icon watericon"><i class="fa fa-tint {{humidityStatus}}"></i></div>
					<div class="icon temp"><i class="fa fa-tachometer {{tempStatus}}"></i></div>
				</div>
			</div>
		</a>
	</li>
</template>