

<template name="plant">
	<div class="plant-stats">
		<div class="luminance">
			<div class="lummeter">
				<span class="lumvalue" style="height: {{getGraphLight}}; filter: saturate({{getGraphLight}});"></span>
			</div>
		</div>
		<div class="temperature">
			<div class="tempmeter">
				<span class="value" style="height: {{getGraphTemperature}}"></span>
			</div>
		</div>
		<div class="water">
			<div class="plant-status">

				<div class="wave-back" style="height: {{getGraphHumidity}}"></div>

				<div class="wave-front" style="height: {{getGraphHumidity}}"></div>

				<img class="plant-face" src="{{plantFace}}" alt="" />

			</div>
		</div>

	<h2 class="plant-view-plant-name">{{name}}</h2>

		<div class="plant-icons">
			<div class="icon sun">
				<i class="fa fa-sun-o {{lightStatus}}"></i>
			</div>
			<div class="icon watericon">
				<i class="fa fa-tint {{humidityStatus}}"></i>
			</div>
			<div class="icon temp">
				<i class="fa fa-tachometer {{tempStatus}}"></i>
			</div>
		</div>
	</div>

<!-- <br/>
<br />
<br/>
<br/> -->
<!-- Plant: {{getPlant}}<br /> -->
<!-- Temperature: {{getTemperature}}<br>
Humidity: {{getHumidity}}<br>
Light: {{getLight}}<br>
Battery: {{getBattery}}<br>
Air Pressure: {{getPressure}}<br><br> -->
<!--     {{#each getUptoDateDataForSpecificEngine}}
       {{engine}},{{sensor}},{{value}}<br>
    {{/each}} -->
</template>