

<template name="plant">

	<div class="plant-stats">
		<div class="luminance">
			<div class="lummeter">
				<span class="lumvalue" style="height: {{getGraphLight}}"></span>
			</div>
		</div>
		<div class="temperature">
			<div class="tempmeter">
				<span class="value" style="height: {{getGraphTemperature}}"></span>
			</div>
		</div>
		<div class="water">
			<div class="plant-status">

				<div class="wave-back" style="height: {{getGraphHumidity}}"></div>

				<div class="wave-front" style="height: {{getGraphHumidity}}"></div>

				<img class="plant-face" src="/img/plant1_small_happy.svg" alt="" />

			</div>
		</div>

		<div class="plant-icons">
			<div class="icon sun">
				<i class="fa fa-sun-o"></i>
			</div>
			<div class="icon watericon">
				<i class="fa fa-tint"></i>
			</div>
			<div class="icon temp">
				<i class="fa fa-tachometer"></i>
			</div>
		</div>
	</div>

<br/>
<br />
<br/>
<br/>
<!-- Plant: {{getPlant}}<br /> -->
<!-- Temperature: {{getTemperature}}<br>
Humidity: {{getHumidity}}<br>
Light: {{getLight}}<br>
Battery: {{getBattery}}<br>
Air Pressure: {{getPressure}}<br><br> -->
<!--     {{#each getUptoDateDataForSpecificEngine}}
       {{engine}},{{sensor}},{{value}}<br>
    {{/each}} -->
</template>